<h2>Detalhes do Usuário</h2>

<p>Id Usuário: {{usuario.id_usuario}}</p>
<p>Nome: {{usuario.nome_usuario}}</p>
<p>Endereço: {{usuario.endereco_usuario}}</p>
<p>E-mail: {{usuario.email_usuario}}</p>
<p>Data de Nascimento: {{usuario.data_nascimento_usuario}}</p>